{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Js Plugins -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a href="#"><i class="fa fa-home"></i> Home </a>
          <span>Đăng ký</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="register-login-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="register-form">
          <h2>Đăng ký</h2>

          {% include 'includes/alerts.html' %}

          <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {% comment %} <div class="group-input">
              {{form.username}}
            </div>
            <div class="group-input">
              {{form.email}}
            </div>
            <div class="group-input">
              {{form.password1}}
            </div>
            <div class="group-input">
              {{form.password}}
            </div> {% endcomment %}
            
            <div class="group-input">
              <label for="username">Nhập Họ và tên: </label>
              {{ form.username }}
            </div>
            <div class="group-input">
              <label for="Email">Nhập địa chỉ Email: </label>
              {{ form.email }}
            </div>
            <div class="group-input">
              <label for="sdt">Nhập số điện thoại: </label>
              {{ form.phone_number }}
            </div>
            <div class="group-input">
              <label for="pass">Mật khẩu:</label>
              {{ form.password }}
            </div>
            <div class="group-input">
              <label for="con-pass">Xác nhận mật khẩu:</label>
              {{ form.password1 }}
            </div>
            <button type="submit" class="site-btn register-btn">Đăng ký</button>
          {{form.email.errors}}
          {{form.non_field_errors}}
          </form>


          <div class="switch-login">
            <a href="{% url 'login' %}" class="or-login">Đăng nhập</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
<script src="{% static 'js/jquery.dd.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>

{% endblock content %}
