{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Js Plugins -->

{% comment %} {% if request.GET.command == 'verification' %}
<div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top:100px">
  Cảm ơn bạn đã đăng ký. Chúng tôi đã gửi mã kích hoạt tới địa chỉ Email [{{request.GET.email}}]
  <br><br>
  Kích hoạt <a href="{% url 'login' %}">Đăng nhập</a>
</div> 
{% else %} {% endcomment %}
  
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a href="#"><i class="fa fa-home"></i>Home</a>
          <span>Quên mật khẩu</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="register-login-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="login-form">
          <h2>Cập nhật lại mật khẩu</h2>
          
        {% comment %} {% include 'includes/alerts.html' %} {% endcomment %}
        
          <form action="{% url 'resetPassword' %}" method="POST">
            {% csrf_token %}
            <div class="group-input">
              <label for="password">Mật khẩu mới: </label>
              <input type="password" id="password" class="form-control"  placeholder="Nhập mật khẩu mới" name="password"/>
            </div>
            <div class="group-input">
                <label for="password">Nhập lại mật khẩu mới: </label>
                <input type="password" id="password" class="form-control"  placeholder="Nhập lại mật khẩu mới" name="confirm_password"/>
              </div>
            <button type="submit" class="site-btn login-btn">Cập nhật</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} {% endif %} {% endcomment %}

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
<script src="{% static 'js/jquery.dd.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>

{% endblock %}
